<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% if logged_in? %>
    logged in as <%= find_user_by_id(session[:user_id])["email"] %>
    <a href="/log_out">Log out</a>
  <% else %> 
  <a href="/log_in">Log in</a>
  <a href="/sign_up">Sign up</a>
  <% end %>



  <%# home button %>

<a href="/clear">home</a>


  <%= yield %>

</body>
</html>
