@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


body img {
    width: 20em;
    display: block;
}

.top_bar {
    background-color: #E01A22;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    height: 6em;
}

h1 {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 375px);
    flex: 1;
}

.main {
    display: flex;
    justify-content: space-between;
}

.item h3 {
    text-transform: capitalize;
}

.right_hand_screen {
    position: fixed;
    right: 80px;
}

.right_hand_screen ul {
    padding: 0px;
}